<h1>Selectionnez vos filtres</h1>
<label for="city-select">Localisation</label><br>
<select name="cities" id="city-select">
    <option value="">--Please choose an option--</option>
    <option value="">Paris</option>
    <option value="">Marseille</option>
    <option value="">Lyon</option>
    <option value="">Toulouse</option>
    <option value="">Nice</option>
    <option value="">Nantes</option>
    <option value="">Montpellier</option>
    <option value="">Strasbourg</option>
    <option value="">Bordeaux</option>
    <option value="">Lille</option>
    <option value="">Rennes</option>
    <option value="">Reims</option>
    <option value="">Toulon</option>
    <option value="">Saint-Etienne</option>
    <option value="">Le Havre</option>
    <option value="">Grenoble</option>
    <option value="">Dijon</option>
    <option value="">Angers</option>
    <option value="">Villeurbanne</option>
    <option value="">Saint-Denis</option>
    <option value="">Nîmes</option>
    <option value="">Clermont-Ferrand</option>
    <option value="">Le Mans</option>
    <option value="">Aix-en-Provence</option>
    <option value="">Brest</option>
    <option value="">Tours</option>
    <option value="">Amiens</option>
    <option value="">Limoges</option>
    <option value="">Annecy</option>
    <option value="">Boulogne-Billancourt</option>
    <option value="">Perpignan</option>
    <option value="">Besançon</option>
    <option value="">Metz</option>
    <option value="">Orléans</option>
    <option value="">Saint-Denis</option>
    <option value="">Rouen</option>
    <option value="">Argenteuil</option>
    <option value="">Montreuil</option>
    <option value="">Mulhouse</option>
    <option value="">Caen</option>
    <option value="">Nancy</option>
    <option value="">Saint-Paul</option>
    <option value="">Roubaix</option>
    <option value="">Tourcoing</option>
    <option value="">Nanterre</option>
    <option value="">Vitry-sur-Seine</option>
    <option value="">Nouméa</option>
    <option value="">Créteil</option>
    <option value="">Avignon</option>
    <option value="">Poitiers</option>
</select>