<!-- Footer -->
<footer class="bg-secondary text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <div class="row justify-content-center">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <a href=""><img class="logofooter" src="assets/img/logo.png" alt="logo"></a>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-3">Nous contacter</h5>

                <ul class="list-unstyled pt-3">
                    <li>
                        <p class="">
                            <a href="/" class="">Formulaire de contact</a>
                        </p>
                        
                    </li>
                    <li>
                        <p class="contact-text">contact@aroundmeandco.fr</p>
                    </li>
                    <li>
                        <p class="contact-text">+339 55 00 01 02</p>
                    </li>
                </ul>
            </div>         
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <div class="row justify-content-center mentions">
            <p class="mentions-text"><a href="/mentionslegales">Mentions légales</a> - <a href="/cgu">CGU</a></p>
        </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-light" href="">AroundMe&Co</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->