.mentions {
    position: relative;
    bottom: -20px;
    .mentions-text {
        position: absolute;
        bottom: 0 !important;
        font-size: 1.2rem;
    }
}

.logofooter {
    width: 60%;
  }

  .row {
    padding: 2%;
  }
  
  .contact-text {
      color: #e77728;
  }