.container-mentions {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    margin-top: 8rem;
    h1 {
        padding-top: 10%;
        padding-bottom: 10%;
      }
  }