<!doctype html>
<html lang="en">


<body>
<div class="backform">
    <div class="form">
      <form
      class="login-form" action="javascript:void(0);"
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <h1>Inscription</h1>
        <div class="form-group">
          <label for="firstname">Prénom</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="form.firstname"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors.required">Le prénom est requis</div>
            <div *ngIf="username.errors.minlength">
              Le prénom doit faire plus de 3 caractères
            </div>
            <div *ngIf="username.errors.maxlength">
              Le prénom doit faire moins de 20 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="lastname">Nom</label>
            <input
              type="text"
              class="form-control"
              name="lastname"
              [(ngModel)]="form.lastname"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
            />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors.required">Le nom est requis</div>
              <div *ngIf="username.errors.minlength">
                Le nom doit faire plus de 3 caractères
              </div>
              <div *ngIf="username.errors.maxlength">
                Le nom doit faire moins de 20 caractères
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Le mot de passe est requis</div>
            <div *ngIf="password.errors.minlength">
                Le mot de passe doit faire plus de 6 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">S'inscrire</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>

</body>

</html>