<app-main-button></app-main-button>
<div class="presentation">
    <h1>AROUNDME&CO</h1>
    <h2>La solution anti-solitude !</h2>
    <p class="prestexte">Destiné au jeune public désireux de faire des rencontres autour de chez soi, AroundMe&co est LA
        solution pour faire bouger les choses ! La solitude, l'isolement, est le grand fléau de notre société actuelle
        et c'est pourquoi, dans un but de limiter les dégâts, nous vous proposons ce concept INÉDIT.
        <br><br>Inédit en quoi nous direz-vous ?<br><br>
        AroundMe&co propose des <span>sorties aléatoires</span> avec des <span>personnes... aléatoires</span>. Oui oui,
        vous avez bien lu ! Tout est ALÉATOIRE ! Notre système s'occupe de vous dénicher ce qu'il vous faut. Bien
        évidemment, vous avez le choix d'accepter, de refuser et même de proposer. <br><br>

    </p>
</div>

<div class="etapes">
    <h2>ETAPE D'UTILISATION</h2>
    <div class="tuto">
        <div class="step"><img class="user" src="assets/img/tuto2.png" alt="Tuto">
            <h3>Etape 1 </h3>
            <p> Cliquer sur le bouton pour rechercher une activité </p>
        </div>
        <div class="step"><img class="user" src="assets/img/tuto.png" alt="Tuto">
            <h3>Etape 2 </h3>
            <p> Définir les filtres de recherche </p>
        </div>
        <div class="step"><img class="user" src="assets/img/tuto3.png" alt="Tuto">
            <h3>Etape 3 </h3>
            <p> Accepter ou refuser l'activité qui vous ai proposée </p>
        </div>
    </div>
</div>
<div class="exemple">
    <h4>PLEIN D'ACTIVITÉS POSSIBLES !</h4>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>